/documents/ltximg/
/documents/notes/ltximg/
/backups/
/custom.el
/elfeed/
/eln-cache/
/elpa/
/emms/
/history
/recentf
/auto-save-list/
/documents/ews-book/ltximg/
/documents/ews-book/reviews/
/images/
/transient/
/games/
/documents/ews-book/*.pdf
