/documents/ltximg/
/documents/notes/ltximg/
/backups/
/custom.el
/elfeed/
/eln-cache/
/elpa/
/emms/
/history
/recentf
/auto-save-list/
/documents/ews-book/ltximg/
/documents/ews-book/reviews/
/images/
/transient/
/games/
/documents/ews-book/*.pdf
backups.bak/
backups.bak/!home!peter!documents!notes!19960801T095403--oracles__divination_esoterica.org.~1~
/image-dired/
/ltximg/
/ews-hugo.el
/bookmarks
/abbrev_defs
/url/
/projects
/multisession/
/nov-places
/tramp
/tutorial/
/documents/book/00-emacs-writing-studio.epub
/documents/book/00-emacs-writing-studio.pdf
/reviews/
/documents/book/ltximg/
/config/
/documents/book/.dir-locals.el
